<launch>
  <!-- 1. Fysieke UR5 starten met MoveIt -->
  <include file="$(find my_universal_robot_controllers)/launch/ur5_bringup.launch" />

  <!-- 2. Gripper driver start met delay -->
  <node pkg="ijsjes_robot" type="delayed_gripper_start.sh" name="robotiq_gripper_driver" output="screen" />

  <!-- 3. Jouw script start -->
  <node pkg="ijsjes_robot" type="robot_control.py" name="ijsjes_robot_control" output="screen" />
</launch>